body{
	display: flex;
	flex-direction: row-reverse;
	font-family: sans-serif;
}
#yellow-block {
	display: flex;
	background-color: rgb(254, 202, 7);
	width: 25%;
	justify-content: space-between;
}
#profile-picture {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	border: 1px solid rgb(218, 175, 18);
	align-items:center;
	justify-content:center;
}
#yellow-block h2 {
	background-color: rgb(64, 64, 64);
	border: 1px solid rgb(64, 64, 64);
	align-items: center;
	justify-content: center;
	color: rgb(218, 175, 18);
	width: 100%
	padding: 0px;
	text-align: center;
}
.saut-de-ligne {
	padding-bottom:10px;
}
#a-propos-de-moi {
	text-align: justify;
}
#image-loisir {
	display: flex;
}
.container{
	padding-top: 47px;
	padding-right: 47px;
	padding-bottom:47px;
	padding-left: 47px;
}
#loisir{
	display: flex;
	align-items: flex-end;
}