body{
	display: flex;
	flex-direction: row;
	font-family: sans-serif;
	width: 100%;

}

/*Partie gauche */

#yellow-block {
	display: flex;
	flex-direction: column;
	background-color: rgb(254, 202, 7);
	width: 20%;	

}

#profile-picture {
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	padding-top: 47px;
	padding-bottom: 47px;
} 

#yellow-block h2 {
	display: flex;
	background-color: rgb(64, 64, 64);
	border: 3px solid rgb(64, 64, 64);
	align-items: center;
	justify-content: center;
	color: rgb(218, 175, 18);
	width: 100%
	padding: 0px;
	text-align: center;

}

.saut-de-ligne {
	line-height: 5px;
	padding-bottom: 15px;
}
#contact{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#a-propos-de-moi {
	text-align: justify;
}
#image-loisir {
	display: flex;
}
.container{
	padding-top: 37px;
	padding-right: 47px;
	padding-bottom:47px;
	padding-left: 47px;
	margin-bottom: 10px;
	font-size: 25px;
}

/*Partie droite */

#white-block{
	width: 75%;
	margin-left: 60px;
}
#header div{
	line-height:2px;
	}

h1 {
font-size: 45px;
}
header p {
	font-size: 30px;
}

#camilo {
	color: rgb(254, 202, 7);
}
#developpeur{
	border-bottom: 1px solid rgb(254, 202, 7);

}
#openclassrooms {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	

}
