body{
	display: flex;
	flex-direction: row;
	font-family: sans-serif;
	width: 100%;
	margin: 0px;
	outline: 1px solid rgb(223, 223, 223);
	

}

/*Partie gauche */

#yellow-block {
	display: flex;
	flex-direction: column;
	background-color: rgb(254, 202, 7);
	width: 25%;	
	position: relative;


}
p{
	display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#loisir{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-bottom: 20px;

}
#photo{
	display: flex;
	justify-content: center;
	align-items: center;
}

#profile-picture {
	display:block;
	margin-top: 20px;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	object-fit: cover;
	object-position: top;
	border: 3px solid rgb(218, 175, 18);
} 

#yellow-block h2 {
	display: flex;
	background-color: rgb(64, 64, 64);
	border-top: 5px solid rgb(64, 64, 64);
	border-bottom: 5px solid rgb(64, 64, 64);
	align-items: center;
	justify-content: center;
	color: rgb(218, 175, 18);
	width: 100%;
	text-align: center;
	font-size: 20px;
}
#contact{
	width: 100%;


}
.saut-de-ligne {
	margin-top: 20px;
	word-break: break-word;
}
#description{
	width: 100%;

}

#a-propos-de-moi {
	text-align: justify;

}
#image-loisir {
	display: flex;
}
.container{
	width: 80%;
	margin: 0 auto;
	}

/*Partie droite */

#white-block{
	width: 75%;
	margin-left: 80px;
}
#white-block h2{
	font-size: 25px;
}
header{
	margin: 70px 0px 70px 0px;

}
#header-white{
	margin-top: 0px;
}

h1 {
	font-size: 40px;
	margin-block-start: 0em;
    margin-block-end: 0em;
}
header p {
	font-size: 25px;
}

#camilo {
	color: rgb(254, 202, 7);
}
#developpeur{
	border-bottom: 1px solid rgb(254, 202, 7);

}
#block-formation{
	display: flex;
	flex-direction: column;
}
.titre{
	display: flex;
	line-height: 1px;
	border-bottom: 2px solid rgb(254, 202, 7);
	font-size: 25px;
	margin-top: 20px;

}
.block {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.icone{
	width: 10%;
	margin-top: 30px;
}

.rigth{
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-top: 30px
}
.date{
	width: 30%;
	font-weight: bold;
	margin-top: 30px;
}
#max{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
#left-side{
	width: 50%;
	margin: 30px 0px 30px 0;
}
#rigth-side{
	width: 50%;
	margin: 30px 0px 30px 0;
}